<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <couchbase>
    <servers bucket="default" bucketPassword="" username="Administrator" password="qwerty">
      <add uri="http://127.0.0.1:8091/pools"/>
    </servers>
  </couchbase>
</configuration>