<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <couchbase>
    <servers bucket="default" bucketPassword="" username="Administrator" password="qwerty">
      <add uri="http://192.168.56.6:8091/pools" />
    </servers>
    <documentNameTransformer type="Couchbase.Configuration.DevelopmentModeNameTransformer, Couchbase" />
    <httpClientFactory type="Couchbase.HammockHttpClientFactory, Couchbase" />
  </couchbase>
</configuration>