<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="couchbaseClients">
      <section name="basic" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="ssl" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="multiplexio" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="observeConfig" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="secure" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="secureConnectionString" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- These values will be used for the servers list of the configurations below. -->
  <appSettings>
    <add key="current" value="basic" />
    <add key="hostname" value="localhost" />
    <add key="bootport" value="8091" />
    <add key="adminusername" value="Administrator" />
    <add key="adminpassword" value="password" />
  </appSettings>
  <couchbaseClients>
    <observeConfig enableConfigHeartBeat="false">
      <buckets>
        <add name="default" useEnhancedDurability="false">
          <connectionPool name="default" />
        </add>
      </buckets>
    </observeConfig>
    <basic enableConfigHeartBeat="true">
      <servers>
        <add uri="http://localhost:8091/" />
      </servers>
      <buckets>
        <add name="default" useEnhancedDurability="true">
          <connectionPool name="default" />
        </add>
        <add name="travel-sample" useEnhancedDurability="true">
          <connectionPool name="default" />
        </add>
      </buckets>
    </basic>
    <ssl enableConfigHeartBeat="false" useSsl="true">
      <buckets>
        <add name="default" useEnhancedDurability="true">
          <connectionPool name="default" />
        </add>
      </buckets>
    </ssl>
    <multiplexio enableConfigHeartBeat="false" useSsl="false">
      <buckets>
        <add name="default" useEnhancedDurability="true">
          <connectionPool name="default" />
        </add>
        <add name="travel-sample" useEnhancedDurability="true">
          <connectionPool name="default" />
        </add>
      </buckets>
      <connectionPool name="custom" type="Couchbase.IO.ConnectionPool`1[Couchbase.IO.MultiplexingConnection], Couchbase.NetClient"></connectionPool>
      <ioService name="multiplexio" type="Couchbase.IO.Services.MultiplexingIOService, Couchbase.NetClient" />
    </multiplexio>
    <secure username="CustomUser" password="secure123">
      <servers>
        <add uri="http://localhost:8091" />
      </servers>
    </secure>
    <secureConnectionString password="secure123">
      <servers>
        <add uri="http://CustomUser@localhost:8091" />
      </servers>
    </secureConnectionString>
  </couchbaseClients>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net207">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\temp\log.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>