root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json, config}]
indent_size = 2

[*.csproj]
indent_size = 2

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

[*.md]
trim_trailing_whitespace = false
