[Oo]bj/
[Bb]in/
packages/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.vsmdi
*.vs*
*.testsettings
*.sln.docstates
couchbase-net-client.userprefs
.idea
TestResult.xml
project.lock.json
*.exe
local.config
*.lock.json
Couchbase.snk
*.nupkg
