<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="validateConfig" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
		<section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
	</configSections>

	<validateConfig>
		<documentNameTransformer type="CouchbaseTests.ConfigurationTests+ValidateNameTransformer, CouchbaseTests" />
		<httpClientFactory type="CouchbaseTests.ConfigurationTests+ValidateHttpClientFactory, CouchbaseTests" />
		<servers>
			<add uri="http://localhost:8091/pools/default" />
		</servers>
	</validateConfig>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
